.ht-50 {
	height: 50px;
}

.product-item {
    margin-top: 10px;
    background: #e6e6e6;
    padding: 5px;
    border-radius: 10px;
}
/*#product-list div div:nth-child(even) {background: red}*/
/*#product-list div div:nth-child(odd) {background: green}