.ht-50 {
	height: 50px;
}
.fz-22 {
	font-size: 22px
}
.fz-20 {
	font-size: 20px
}
.fz-18 {
	font-size: 18px
}
.fz-16 {
	font-size: 16px
}
.br-5 {
	border-radius: 5px;
}
.ws-prewrap {
	white-space: pre-wrap;
}
.w-150 {
	width: 150px;
}
.w-190 {
	width: 190px;
}
.product-item {
    margin-top: 15px;
    background: #d2ffd5;
    padding: 5px;
}
.container {
    padding-right: 7px;
    padding-left: 7px;
}

input[type="file"] {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    z-index: 100 !important;
    margin-top: -20px;
    padding-top: -20px;
    top: -20px;
}